/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

// fonts
$font-family-sans-serif: 'Cabin',Helvetica, sans-serif, 'News Cycle';
$font-family-monospace: 'DM Mono','Red Hat Mono', monospace;
$code-color: #f35b04;

/*-- scss:rules --*/

